<div class="list-group" style="clear:both;">
	<div class="list-group-item bg-info text-white d-flex justify-content-between">
		<h3>#ACTIVITIES</h3>
		<div>
			<a style="cursor: pointer;" class ="btn btn-sm pull-right" [matMenuTriggerFor]="menu">
				<span class="fa fa-ellipsis-v fa-2x"></span>
			</a>
			<div>
			<mat-menu #menu="matMenu">
				<button mat-menu-item>Terverifikasi</button>
				<button mat-menu-item>Ekspor</button>              
            </mat-menu>
			</div>            
		</div>		
	</div>	
	<div *ngIf="loading" class="list-group-item text-center">
		<span class="fa fa-spinner fa-spin"></span>
	</div>
	<ng-container *ngFor="let activity of activities; let i=index">
	<div class="list-group-item flex-column align-items-start">		
		<div class="d-flex w-100 justify-content-between">
		  <h5 class="mb-1">{{activity.name}}</h5>
		  <div>
		  	<a style="cursor: pointer;" class="pull-right badge badge-light" [matMenuTriggerFor]="timelinemenuactivities" *ngIf="!activity.verified">
				<span class="fa fa-ellipsis-h text-primary"></span>
			</a>
	        <mat-menu #timelinemenuactivities="matMenu">
	          <div>
	            <button mat-menu-item (click)="verifyActivity(activity.id)">Set Verified</button>
	          </div>
	        </mat-menu>
	        <div class="d-flex w-100 justify-content-left">
	        	<span *ngIf="activity.verified" class="fa fa-check fa-check-circle text-primary" title="Verified by {{activity.verifiedBy?.name}}"></span>
	        </div>
		  </div>
		</div>
		<div class="mb-1">{{ activity.description }}</div>
		
		<div class="mt-2 d-flex w-100 justify-content-between text-muted">
			<small>{{activity.user.name}}</small><small class="pull-right">{{ activity.createdAt | fromNow}}</small>			
		</div>		
	</div>
	</ng-container>
	<div *ngIf="activities?.length == 0" class="list-group-item text-muted">
		Belum ada data activity
	</div>
</div>