<div class="container mt-3 mb-3">
	<div class="col-md-12">
		<div class="card mb-3">
			<div class="card-header">
				<h1>Tentang Gerbang Sulteng</h1>
			</div>
			<div class="card-body">
				<div class="mt-3">
					<p>Gerbang Sulteng adalah inisiatif kolaborasi data untuk pemulihan kondisi pasca bencana gempa dan tsunami di Sulawesi Tengah. Sejauh ini, platform ini masih dikembangkan. Pola pengelolaan data berbasis: 
					</p>
					<ul>
						<li><strong>Points</strong>. Titik kumpul/pengungsian yang menjadi basepoint merujuk pada peta yang dipublikasikan oleh Beritagar.id yang disarikan dari rilis BNPB. Tautan peta: <a href="https://goo.gl/maps/vmZwCFKyHFk">https://goo.gl/maps/vmZwCFKyHFk</a></li>
						<li><strong>Demografi.</strong> Jumlah rincian pengungsi di setiap titik, meliputi jumlah perempuan, laki-laki, anak, dewasa, lansia, hingga orang berkebutuhan khusus.</li>
						<li><strong>Demands.</strong> Stream atau daftar kebutuhan mendesak di setiap titik</li>
						<li><strong>Supplies.</strong> Stream atau daftar penyaluran mendesak di setiap titik</li>
						<li><strong>Activities.</strong> Stream atau update situasi setiap titik</li>
					</ul>
					<br><br>
					<blockquote class="mt-3 blockquote text-center">
						<p>Anda dapat berkolaborasi mengelola data tanpa repot mendaftar, hanya cukup masuk menggunakan akun Google anda. Setiap data yang masuk dapat diverifikasi bersama. Adanya stream yang sudah terverifikasi, maka akan membantu tim lain untuk bertindak lebih tepat.</p>
					  <p class="mb-0">Kolaborasi data untuk Sulteng Bangkit.</p>
					  <footer class="blockquote-footer"><cite title="Gerbang Sulteng">Gerbang Sulteng</cite></footer>
					</blockquote>

					<h3 class="mt-2">Kolaborasi Pengembangan</h3>

					<p>Kami menerima kontribusi untuk berkolaborasi mengembangkan platform pengelolaan data kebencanaan dengan merujuk pada repository yang sudah kami publikasikan di Github.</p>

					<h5 class="mt-3">Akses data via Application Programming Interface (API)</h5>
					<p>API berbasis GraphQL dapat diakses pada laman <a href="http://api.gerbangsulteng.org">http://api.gerbangsulteng.org</a></p>

					<h5 class="mt-3">Repository Github:</h5>
					<ul>
						<li><a href="https://github.com/infest-lab/datakit-bencana-backend">Data Kit Kebencanaan (Disaster Data Kit) - Backend</a></li>
						<li><a href="https://github.com/infest-lab/datakit-bencana-frontend">Data Kit Kebencanaan (Disaster Data Kit) - Frontend</a></li>
					</ul>

					<h5 class="mt-3">Pendukung dan Kolaborator</h5>
					<p class="text-mute">Sejauh ini kami masih menyempurnakan halaman ini</p>
				</div>
			</div>
		</div>
	</div>
</div>