<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Gerak Bareng Sulteng</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">Tentang</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{apiUrl}}">API</a>
      </li>          
    </ul>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="btn btn-md btn-primary text-white" *ngIf="!authService.isLoggedIn" (click)="authService.login()"><span class="fa fa-google"></span> Masuk untuk Kontribusi</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn"><span class="nav-link text-muted">{{authService.getUserName()}}</span></li>
      <li class="nav-item" *ngIf="authService.isLoggedIn">
        <img style="width:40px;" alt="{{authService.getUserName()}}" src="{{authService.getUserAvatar()}}">        
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" (click)="authService.logout()" *ngIf="authService.isLoggedIn" style="cursor: pointer;">Keluar</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>