<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 mt-3">
			<div *ngIf="displayForm">
				<app-demand-form *ngIf="demandFormDisplay" (display)="demandForm($event)" [pointId]="point.id"><span class="fa fa-spinner fa-spin"></span></app-demand-form>
				<app-supply-form *ngIf="supplyFormDisplay" (display)="supplyForm($event)" (refresh)=refresh($event) [pointId]="point.id"><span class="fa fa-spinner fa-spin"></span></app-supply-form>
				<app-activity-form *ngIf="activityFormDisplay" (display)="activityForm($event)" (refresh)=refresh($event) [pointId]="point.id"><span class="fa fa-spinner fa-spin"></span></app-activity-form>
				<app-demography-form *ngIf="demographyFormDisplay" (display)="demographyForm($event)" (refresh)=refresh($event) [pointId]="point.id" [demography]="point.lastDemography"><span class="fa fa-spinner fa-spin"></span></app-demography-form>
			</div>
			<div *ngIf="!displayForm">
				<!-- <app-list-points><span class="fa fa-spinner fa-spin"></span></app-list-points> -->
				<app-list-points-bycategory *ngIf="point" [category]="point?.category" [partial]="true"><span class="fa fa-spinner fa-spin"></span></app-list-points-bycategory>
			</div>
		</div>
		<div class="col-md-9 mt-3" style="min-height:400px;">
			<div class="card" *ngIf="point">
				<div class="card-header">
					<h4><span class="fa fa-map-marker"></span> {{point.name}}</h4>
					<small class="text-muted">{{point.address}}</small>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-6">
							<!-- <div class="card"><div class="card-body"> -->
							<table class="table table-striped">
								<tr>
									<td><strong>Kategori</strong></td>
									<td class="text-right">{{point?.category}}</td>
								</tr>
								<tr *ngIf="point.latitude !== ''">
									<td><strong>Lokasi</strong></td>
									<td class="text-right">{{point?.latitude}},{{point?.longitude}}</td>
								</tr>
								<tr *ngIf="point.survivors !== ''">
									<td><strong>Jumlah pengungsi awal</strong></td>
									<td class="text-right">{{point?.survivors}} orang</td>
								</tr>
								<tr *ngIf="point.phone !== ''">
									<td><strong>Kontak</strong></td>
									<td class="text-right">{{point?.contact}} - {{point?.phone}}</td>
								</tr>
								<tr *ngIf="point.notes !== ''">
									<td><strong>Keterangan</strong></td>
									<td class="text-right">{{point?.notes}}</td>
								</tr>						
							</table>
							<!-- </div></div> -->
						</div>
						<div class="col-md-6">
							<div class="card"><div class="card-body">
								<button class="btn btn-primary btn-sm pull-right" (click)="updateDemography()">Update Demografi</button>
								<h4>Demografi</h4>
								<div class="mb-2 text-muted" *ngIf="point.lastDemography?.createdAt == null">Belum ada data demografi</div>
								<div *ngIf="point.lastDemography?.createdAt !== null">
								<p class="text-muted"><small>Update terakhir: {{point.lastDemography?.createdAt|fullDate}} oleh {{point.lastDemography?.user.name}}</small>
								</p>
									<div class="d-flex w-100 justify-content-between">
										<span>Perempuan</span>
										<span class="text-right">{{point.lastDemography?.female}}</span>
									</div>
									<div class="d-flex w-100 justify-content-between">
										<span>Laki-Laki</span>
										<span class="text-right">{{point.lastDemography?.male}}</span>
									</div>
									<div class="d-flex w-100 justify-content-between">
										<span>Anak</span>
										<span class="text-right">{{point.lastDemography?.children}}</span>
									</div>
									<div class="d-flex w-100 justify-content-between">
										<span>Dewasa</span>
										<span class="text-right">{{point.lastDemography?.adult}}</span>
									</div>
									<div class="d-flex w-100 justify-content-between">
										<span>Lansia</span>
										<span class="text-right">{{point.lastDemography?.lansia}}</span>
									</div>
									<div class="d-flex w-100 justify-content-between">
										<span>Berkebutuhan khusus</span>
										<span class="text-right">{{point.lastDemography?.difable}}</span>
									</div>
									<!-- <table class="table table-bordered mb-2">
										<tr>
											<td><strong>Perempuan</strong></td>
											<td class="text-right">{{point.lastDemography?.female}}</td>
										</tr>										
										<tr>
											<td><strong>Laki-Laki</strong></td>
											<td class="text-right">{{point.lastDemography?.male}}</td>
										</tr>
										<tr>
											<td><strong>Anak</strong></td>
											<td class="text-right">{{point.lastDemography?.children}}</td>
										</tr>
										<tr>
											<td><strong>Dewasa</strong></td>
											<td class="text-right">{{point.lastDemography?.adult}}</td>
										</tr>
										<tr>
											<td><strong>Lansia</strong></td>
											<td class="text-right">{{point.lastDemography?.lansia}}</td>
										</tr>
										<tr>
											<td><strong>Berkebutuhan khusus</strong></td>
											<td class="text-right">{{point.lastDemography?.difable}}</td>
										</tr>
									</table> -->
								</div>
							</div></div>
						</div>
					</div>	
					<hr>
					<div class="row">
						<div class="col-md-4">
							<div><a (click)="addDemand()" class="btn btn-danger btn-sm text-white mb-1"><span class="fa fa-plus fa-2x"></span></a></div>
							<app-point-demands [pointId]="point?.id"><span class="fa fa-spinner fa-spin"></span></app-point-demands>
						</div>
						<div class="col-md-4">
							<div><a (click)="addSupply()" class="btn btn-success btn-sm text-white mb-1"><span class="fa fa-plus fa-2x"></span></a></div>
							<app-point-supplies [pointId]="point?.id"><span class="fa fa-spinner fa-spin"></span></app-point-supplies>
						</div>
						<div class="col-md-4">
							<div><a (click)="addActivity()" class="btn btn-info btn-sm text-white mb-1"><span class="fa fa-plus fa-2x"></span></a></div>
							<app-point-activities [pointId]="point?.id"><span class="fa fa-spinner fa-spin"></span></app-point-activities>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>